@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #e6e6e6;
  --light-gray: #dddbdb;
  --gray: #989898;
  --main-color: #2c0cff;
  --main-color-light: #664eff; 
  --red: #cc0000;
  --green: #1eb700;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: var(--background);
}