.loader {
    border: 8px solid var(--main-color); 
    border-top: 8px solid var(--main-color-light);
    border-radius: 50%;
    width: 80px; 
    height: 80px; 
    animation: spin 1s linear infinite; 
    margin: auto;
    margin-top: 50px;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }